{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}


{% block content %}

<!-- container -->

<div class="container-0 row"> 

    <!-- isquierda -->
        
          <div class="col-2 pl-4">


            <aside>


                <nav class="nav  flex-column border"> 

                    <div class="container-fluid p-1">
                      <strong class="h2 ">Temas</strong>



                    <!-- DESPLEGABLES -->

                    
                    
            {% for i in temas %}
                    
            
                    
                    <ul class="p-0">
        
        
                      
                      <hr class="dropdown-divider"> 
                      <li><!-- categoria 1 -->
                      <button class="navbar-toggler p-0 dropdown-toggle" 
                      type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#{{ i.slug }}"        
                      >

                        <span>{{ i.name }}</span>  
                        

                      </button>
                     


                      <!-- EDIT TEMA -->
                      {% if user.is_authenticated %}
                      <a href="{% url 'edit_tema' i.slug %}">
                        <small>🖊</small>
                      </a>
                      {% endif %}
                      <!-- EDIT TEMA -->

                      <!-- END temas -->


                      <!-- ARTICLES -->
                      <div class="collapse navbar-collapse" id="{{ i.slug }}">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">                     

                          {% for art in i.articles.all %}
                          <li class="nav-item nav-link ">
                            <a class="text- text-success" href="{% url 'article' category.slug art.slug %}"><small>{{art.ordering}}.-</small>{{ art.title }}</a>
                            


                            <!-- EDIT ARTICLE -->
                            {% if user.is_authenticated %}
                            <a class="" href="{% url 'edit_article' art.slug %}">
                              <small>🖊</small>
                            </a>
                            {% endif %}                      
                            <!-- EDIT ARTICLE -->          
                          </li>



                          {% endfor %}



                          <!-- ADD ARTICLE -->
                          {% if user.is_authenticated %}
                          <a href="{% url 'add_new_article' %}">
                            <button type="button" class=" btn-sm btn btn-secondary">
                            +
                            </button>
                          </a>                        
                          {% endif %}
                          <!-- ADD ARTICLE -->



                        </ul>
                        
                      </div>
        
                      </li><!-- categoria 1 -->
                    </ul>


            {% endfor %}


                    </div>
        
                    <!-- FIN DESPLEGABLES -->


                      <!-- ADD TEMA -->
                      {% if user.is_authenticated %}
                      <a href="{% url 'add_new_tema' %}">
                        <button type="button" class="btn btn-secondary">
                        +
                        </button>
                      </a>

                      {% endif %}
                      <!-- ADD TEMA -->
                </nav>

            </aside>
          </div>
    





    <!-- derecha -->
          <div class="col-10 p-0 m-0">
            <section class="section" style="min-width: 50%;">
              

                <h1 class="h1 text-center">{{ article.title }}</h1>
                <br>

                <p>{{ article.body|safe }}</p>
            </section>
          </div>
          
        </div>
      
    





{% endblock %}