{% extends 'base.html' %}

{% block title %}Notas de {{ category.name }}{% endblock %}


{% block content %}

<!-- container -->

<div class="container-0 row"> 



    <!-- isquierda -->
        
    <div class="col-2 pl-4">


      <aside>


          <nav class="nav  flex-column border"> 

              <div class="container-fluid p-1">
                <strong class="h2 ">Temas</strong>



              <!-- DESPLEGABLES -->

              
              
      {% for i in temas %}
              
      
              
              <ul class="p-0">
  
  
                
                <hr class="dropdown-divider"> 
                <li><!-- categoria 1 -->
                <button class="navbar-toggler p-0 dropdown-toggle" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#{{ i.slug }}"        
                >

                  <span>{{ i.name }}</span>  
                  

                </button>
               


                <!-- EDIT TEMA -->
                {% if user.is_authenticated %}
                <a  href="{% url 'edit_tema' i.slug %}">
                  <small>🖊</small>
                </a>
                {% endif %}
                <!-- EDIT TEMA -->

                <!-- END temas -->


                <!-- ARTICLES -->
                <div class="collapse navbar-collapse" id="{{ i.slug }}">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">                     

                    {% for art in i.articles.all %}
                    <li class="nav-item nav-link ">
                      <a class="text- text-success" href="{% url 'article' category.slug art.slug %}"><small>{{art.ordering}}.-</small>{{ art.title }}</a>
                      

      
                    </li>



                    {% endfor %}



                    <!-- ADD ARTICLE -->
                    {% if user.is_authenticated %}
                    <a href="{% url 'add_new_article' %}">
                      <button type="button" class=" btn-sm btn btn-secondary">
                      +
                      </button>
                    </a>                        
                    {% endif %}
                    <!-- ADD ARTICLE -->



                  </ul>
                  
                </div>
  
                </li><!-- categoria 1 -->
              </ul>


      {% endfor %}


              </div>
  
              <!-- FIN DESPLEGABLES -->

              
                <!-- ADD TEMA -->
                {% if user.is_authenticated %}
                <a href="{% url 'add_new_tema' %}">
                  <button type="button" class="btn btn-secondary">
                  +
                  </button>
                </a>

                {% endif %}
                <!-- ADD TEMA -->
          </nav>

      </aside>
    </div>




    <!-- derecha -->
          <div class="col-10 p-0 m-0">

            <section class="section pt-3" style="min-width: 50%;">
                  <h1 class="m-6 text-center display-6">{{ category.name }}</h1>            

      {% for tema in temas %}

              <br><br>
              <h3>{{tema}}</h3>
              <hr>


            <div class="row text-center m-3">


            {% for articulo in tema.articles.all %}

                  <div class="col-3">
                    <div class="card m-4 pb-3" style="width: 18rem;">
                      <h5 class="card-head">{{ articulo.title }}</h5>                        

                      <div class="card-fotter">
                        <a class="text-success" href="{% url 'article' category.slug articulo.slug %}" class="card-link">ver mas</a>
                      
                      </div>
                    </div>
                  </div>

            {% endfor %}



            </div>
      {% endfor %}


            </section>
          </div>
          
        </div>
      
    





{% endblock %}