{% extends 'base.html' %}

{% block title %}About{% endblock %}

    {% block content %}
    <h1>tecnologias usadas y caracteristicas</h1>

<h5 class="subtitle"> tegnologias usadas</h5>
<ul>
    <li>django</li>
    <li>bulma framework</li>
    <li></li>
</ul>


<hr>
<h5 class="subtitle"> caracteristicas</h5>


    <ol>
        <li>view articulos</li>
        <li>tags o categorias</li>
        <li>detalles de categorias</li>
        <li>detalles de producto y link con categoria</li>

    </ol>


    {% endblock %}