{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="jumbotron m-4 text-center">
    <h1 class="display-4">Cuadernillo notas de programacion</h1>
    <p class="lead">
        Este es mi cuaderno personal de apuntes.
    </p>
    <hr class="my-4">
    <p>.</p>
    <p class="lead">
      <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>


<br><br> 
<hr class="dropdown-divider">
<!-- 
<h1 class="m-6 text-center display-6">Articulos recientes!</h1>


<div class="row text-center m-3">
    <div class="col-4">
        <div class="card">
            <div class="card-head">
                <div class="h1">titulo</div>
            </div>
            <div class="card-body">
                <p>contedido bla bla </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-head">
                <div class="h1">titulo</div>
            </div>
            <div class="card-body">
                <p>contedido bla bla </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-head">
                <div class="h1">titulo</div>
            </div>
            <div class="card-body">
                <p>contedido bla bla </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-head">
                <div class="h1">titulo</div>
            </div>
            <div class="card-body">
                <p>contedido bla bla </p>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}